#review_btn:hover {
    background-color: rgb(69, 66, 241);
}

#kakao-login:hover {
    filter: brightness(0.8);
    border: 1px;
}

.water_mark {
    position: absolute;
    z-index: 1;
    top: 40%;
    margin-left: 10%;
    transform: rotate(-30deg);
    user-select: none;
    font-size: 2vmax;
    color: rgba(128, 128, 128, 0.522);
}

.created_image {
    position: relative;
}

.created_image:hover {
    position: relative;
    filter: brightness(1.2);
}

.starpoint_wrap {
    display: inline-block;
}

.starpoint_box {
    position: relative;
    background: url(https://ido-archive.github.io/svc/etc/element/img/sp_star.png) 0 0 no-repeat;
    font-size: 0;
}

.starpoint_box .starpoint_bg {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 18px;
    background: url(https://ido-archive.github.io/svc/etc/element/img/sp_star.png) 0 -20px no-repeat;
    pointer-events: none;
}

.starpoint_box .label_star {
    display: inline-block;
    width: 10px;
    height: 18px;
    box-sizing: border-box;
}

.starpoint_box .star_radio {
    opacity: 0;
    width: 0;
    height: 0;
    position: absolute;
}

.starpoint_box .star_radio:nth-of-type(1):hover~.starpoint_bg,
.starpoint_box .star_radio:nth-of-type(1):checked~.starpoint_bg {
    width: 10%;
}

.starpoint_box .star_radio:nth-of-type(2):hover~.starpoint_bg,
.starpoint_box .star_radio:nth-of-type(2):checked~.starpoint_bg {
    width: 20%;
}

.starpoint_box .star_radio:nth-of-type(3):hover~.starpoint_bg,
.starpoint_box .star_radio:nth-of-type(3):checked~.starpoint_bg {
    width: 30%;
}

.starpoint_box .star_radio:nth-of-type(4):hover~.starpoint_bg,
.starpoint_box .star_radio:nth-of-type(4):checked~.starpoint_bg {
    width: 40%;
}

.starpoint_box .star_radio:nth-of-type(5):hover~.starpoint_bg,
.starpoint_box .star_radio:nth-of-type(5):checked~.starpoint_bg {
    width: 50%;
}

.starpoint_box .star_radio:nth-of-type(6):hover~.starpoint_bg,
.starpoint_box .star_radio:nth-of-type(6):checked~.starpoint_bg {
    width: 60%;
}

.starpoint_box .star_radio:nth-of-type(7):hover~.starpoint_bg,
.starpoint_box .star_radio:nth-of-type(7):checked~.starpoint_bg {
    width: 70%;
}

.starpoint_box .star_radio:nth-of-type(8):hover~.starpoint_bg,
.starpoint_box .star_radio:nth-of-type(8):checked~.starpoint_bg {
    width: 80%;
}

.starpoint_box .star_radio:nth-of-type(9):hover~.starpoint_bg,
.starpoint_box .star_radio:nth-of-type(9):checked~.starpoint_bg {
    width: 90%;
}

.starpoint_box .star_radio:nth-of-type(10):hover~.starpoint_bg,
.starpoint_box .star_radio:nth-of-type(10):checked~.starpoint_bg {
    width: 100%;
}

.blind {
    position: absolute;
    clip: rect(0 0 0 0);
    margin: -1px;
    width: 1px;
    height: 1px;
    overflow: hidden;
}
